.view-cart{
    background: #333333;
    color: #FFFFFF;
    border-radius: 60px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    border: none;
    padding: 5px 20px;
    width: 339px;
    height: 46px;
}
.continue-shopping{
    background: #FFFFFF;
    color: #666666;
    border-radius: 60px;
    text-align: center;
    font-size: 15px;
    border: 1px solid #333333;
    padding: 10px 50px;
    font-weight: 700;
    width: 339px;
    height: 46px;
    margin-left: 20px;
}