.container {
    padding: 10px;
}
.home {
    padding: 10px;
}
.buttonforchecking {
    padding: 10px;
}

.form-group label::after{
    content:"*";
    color:red;
}

.textholder {
    position: absolute;
    padding-left: 8px;
    font-size: 15px;
}

.form-group {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
}

.text-holder-container {
    padding: 10px;
}

.two-field-contaoiner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
   background-color:  #00eaff21;
   width: 60%;
}