.quantity-list-action{
    display: flex;
    border: 1px solid #C1C1C1;
    border-radius: 60px;
    width: 158px;
    height: var(--lwc-spacingXLarge, 2.5rem);
    padding: 0px 10px;
    color: #000000;
}

.decrement-btn{
    background: none;
    border: none;
    cursor: pointer;
    color: #000000;
}
.increment-btn{
    background: none;
    border: none;
    cursor: pointer;
    color: #000000;
}
.selector-input{
    background: none;
    border:none;
    outline: none;
    color: #000000;
    width: 100%;
    font-size: 17px;
}
.selector-input:hover{
    border: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}
@media (min-width:280px) and (max-width:720px){
    .quantity-list-action{
        width: 100% !important;
        height: var(--lwc-spacingXLarge, 2.5rem) !important;
        margin-top: 20px !important;
    }
}