
<style >
    :root{
        --snp-theme-clr-yellow:#FDC300;
        --snp-clr-white:#ffffff;
        --snp-clr-black:#000000;
        --snp-clr-geygreen:#EAECE7;
        --dxp-g-brand:#FDC300 !important;
        --sun-power-font:'SunFont';

    }
    
 /* @font-face {
    font-family:'SunFont';
    src: url('/sfsites/c/resource/CENTURYGOTHIC/century-gothic-grassetto.ttf') format('TrueType');
}
  /*  *{
         font-family:'SunFont';
     }*/
    

/*--------------------------------------------@Author Aditya GLOBAL CONTAINER CSS START HERE---------------------------------------------*/
    .custom-container{
        max-width:100%;
        width:100%;
        margin: 0 auto;
        padding:0 16px;
    }
    @media only screen and (min-width: 576px) {
        .custom-container{
            max-width:550px;
            padding:0 8px;
        }
    }

    @media only screen and (min-width: 768px) {
        .custom-container{
            max-width:730px;
            padding:0 8px;
        }
    }

    @media only screen and (min-width: 992px) {
        .custom-container{
            max-width:970px;
            padding:0 8px;
        }
    }

    @media only screen and (min-width: 1200px) {
        .custom-container{
            max-width:1150px;
            padding:0 8px;
        }
    }

    @media only screen and (min-width: 1400px) {
        .custom-container{
            max-width:1330px;
            padding:0 8px;
        }
    }


    
/*--------------------------------------------@Author Aditya GLOBAL CONTAINER CSS ENDS HERE---------------------------------------------*/    
    
/*-----------------------HOME PAGE @author-Aditya Lenka -----START HERE----------------*/
        .about-us-slot-wrapper slot[name="aboutUsStandardButton"] a{
    		padding: 0.181rem 1.588rem;
			}
    .homepage-img-txt .explore-more-para{
        line-height:2.8rem;
    }
/*-----------------------HOME PAGE @author-Aditya Lenka -------END HERE--------------*/
    
 

 
   /*Overrides Standard My Account Icon Styling*/    
.standard-profile-menu-component-slot slot[name="StandardProfileMenuComponent"] button.menu-button {
    border: none;
    background: transparent;
    color: white;
    outline: none;
}

.standard-profile-menu-component-slot slot[name="StandardProfileMenuComponent"] button.menu-button:focus {
	box-shadow:none;
}

.standard-profile-menu-component-slot slot[name="StandardProfileMenuComponent"] button.menu-button+div.dropdown-ctn>ul {
    padding: 0;
}
.standard-profile-menu-component-slot slot[name="StandardProfileMenuComponent"] button.menu-button+div.dropdown-ctn>ul>li>a:hover {
    color: var(--snp-clr-balck);
    text-decoration: underline;
      background-color: #eaece7;
}

.standard-profile-menu-component-slot slot[name="StandardProfileMenuComponent"] button.menu-button+div.dropdown-ctn>ul>li>a>span {
    color: var(--snp-clr-balck);
}

.standard-profile-menu-component-slot slot[name="StandardProfileMenuComponent"] button.menu-button svg[data-key="user"] {
    height: 20px !important;
    width: 20px !important;
}
 /*Overrides Standard My Account Icon Styling Ends Here*/  
   
  [data-component-id="section-87ca"] .slds-button:hover {
        color:black !important;
        background-color: #fdc300 !important;
    }
   [data-component-id="button-b2af"] .slds-button {
        width: 7.6rem !important;
        height: 2.3rem !important;
        background-color: #EAECE7 !important;
        border-radius: 3.7px !important;
    }
    
    [data-component-id="textBlock-91ef"] .dxp_base-textBlock_textBlock {
      		line-height:34pt !important;
    }
    [data-component-id="button-b2af"] .slds-button:hover {
        color:black !important;
        background-color: #fdc300 !important;
    }
   /*   [data-component-id="snp_Recommendation_comp-7c4e"] .slds-button {
        width: 7.6rem !important;
        height: 2.3rem !important;
        background-color: #EAECE7 !important;
        border-radius: 3.7px !important;
    }*/
    
    
    
    .component-wrapper-spacer{
        margin:0px !important;
    }
    [data-component-id="columns-a49d"] .component-wrapper-spacer {
    margin: 0px !important;
    padding-right: 10px !important;
}
    [data-component-id="section-c2f1"] .background-image-overlay {
        padding:5px 0px 5px 0px !important;
    }    
    
    [data-component-id="layoutSite-6c1e"] .webruntimedesign-componentWrapper_componentWrapper-host {
        margin:0px !important;
    }
   [data-component-id="columns-a49d"] .component-wrapper-spacer {
        margin:0px !important;
    }
    [data-component-id="layoutHeader-2400"] .commerce-layoutHeader_templateWithoutWishlistSlot {
        padding:0px !important;
    }
    .comm-section-container {
        padding:0px !important;
    }
    

    
  
    

    
 
 
 
  
    [data-component-id="snp_currencySelectorIoco-c42c"].component-wrapper-spacer{
        margin:0 1.25rem 0 0 !important;
      
    }
    [data-component-id="cartBadge-9451"]{
        margin:0 1.25rem 0 0  !important;
        
    }
    [data-component-id="textBlock-75f5"] >h2:hover{
        color:#FDC300 !important;
    }
    
    

    


/*Overrides ModelButton - @author-Ganesh*/
    .slds-theme_warning[lightning-interactiveDialogBase_interactiveDialogBase], .slds-theme--warning[lightning-interactiveDialogBase_interactiveDialogBase] {
        background-color: #fdc300 !important;
    }
    /*.slds-button_brand{
        background-color:#f0f0f0 !important;
        color: black !important;
    } */
    [data-component-id="snp_footer_Component-c46b"] .slds-button {
    	padding: 1px 28px !important;
        background: #eaece7 !important;
    }
    [data-component-id="snp_footer_Component-c46b"] .slds-button:hover {
        color:black !important;
        background-color: #fdc300 !important;
    }
    /*---------------- filters-sort by @author -Krishnamurthy Donta-----------------*/
    .sortby-filters-wrapper button {
        border:1px solid black !important ;
    }
    .sortby-filters-wrapper .slds-listbox{
        color: black !important;
        background-color: white !important;
    }
    .sortby-filters-wrapper h3 {
        margin:0px !important;
    }
    .sortby-filters-wrapper [role="listbox"]>*[aria-checked="true"]{
        background-color:#595959 !important;
    }
    .sortby-filters-wrapper [role="listbox"]>*:not(span):hover{
        background-color:var(--snp-clr-geygreen)!important;
        
    }
    .sortby-filters-wrapper [role="listbox"]>*[aria-checked="true"]>span:first-child {
        visibility:hidden;
    }
    .sortby-filters-wrapper [role="listbox"]>*{
        text-align:left !important;
    }
/*-----------------------Filter @author-Krishnamurthy Donat ---------------------*/
    /* -- FOR CATEGOLY LINK HOVER UNDERLINE COLOR -@AUTHOR ADITYA---*/
    .category-breadcrumb-wrapper slot[name="standardCategoryBreadCrumb"]  ol li a[href]{
        text-decoration-color: var(--snp-theme-clr-yellow);
    }
    .category-breadcrumb-wrapper slot[name="standardCategoryBreadCrumb"]  ol{
        margin-bottom: 1.3125rem;
    }
    /*----------END OF CATEGORY LINK UNDERLINE CSS---@AUTHOR ADITYA*/
    /*-----------------------Filter @author-Krishnamurthy Donat ---------------------*/
    
    .filter-section .category-tree-section {
        margin-top:0 !important;
        padding-top:0 !important;
    }
    .filter-section .facets-section {
        margin-top:0 !important;
        padding-top:0 !important;
    }
    .filter-section .filters-title {
	    color: transparent !important;
	} 
    .filter-section lightning-primitive-icon {
        display:none !important;
    }
    .filter-section .expand-button {
        display:none !important;
    }
    .filter-section .slds-checkbox_faux {
        border:1px solid var(--snp-clr-black)!important;
    }
 
    
    .product-tiles-wrapper .slds-button_brand {
         background-color: var(--snp-clr-geygreen)!important;
    }
    

    .filter-section h2 {
     	padding: 0 2.0625rem !important;
    	font-size: 1.25rem !important;
    }
    .filter-section .slds-form-element__label {
	    margin: 0;
    padding: 2px;
    }
    .filter-section .lwc-64711lksfdt {
        padding: 0 2.25rem;
    }
    .filter-section .slds-checkbox_faux {
            border-radius: 0 !important;
    }
 
    
    .filters-header .clear-all > button {
        font-size:0;
    }
    .filters-header .clear-all > button:hover {
	   text-decoration-color:var(--snp-theme-clr-yellow) !important;
        text-decoration:underline;
	}
    .filters-header .clear-all > button::before{
        content:"Clear Filters";
    	font-size: 1rem;
    	letter-spacing: 0.1rem;
        color:var(--snp-clr-black);
    }
    
	.filter-section span [part="indicator"]::after {
    border-color:var(--snp-clr-black)!important;
    }
   	.filter-section span [part="indicator"]:hover {
    border-color: var(--snp-theme-clr-yellow)!important;
    }
    .product-tiles-wrapper-off button {
    color:var(--snp-clr-black);
    }
     .product-tiles-wrapper .callToActionButton {
        border-radius: 5px;
        border: 1px solid var(--snp-clr-black);
    }
    .product-tiles-wrapper button {
    color:var(--snp-clr-black);
    }
    .product-tiles-wrapper img {
       object-fit: cover;
    	max-width: 100%;
    	aspect-ratio: 1/1;
    }
    .product-tiles-wrapper img:hover {
     border:2px solid var(--snp-theme-clr-yellow)!important;   
    }
    .product-tiles-wrapper a {
        text-decoration: none !important;
    }
    
    .product-tiles-wrapper .cardContainerGrid .fieldsArea div:nth-child(2) div {
            white-space: normal !important; 
            display: -webkit-box !important;
            -webkit-line-clamp: 3 !important;
            -webkit-box-orient: vertical !important;
            word-break: break-word !important;
            word-spacing: 0.1rem !important;
            font-size: 16px!important;
            line-height: 1.8333rem !important;
        	height:5.4375rem !important;
        	margin:calc(10 / 16 * 1rem) 0 1.25rem 0 !important;
    }
    
    .product-tiles-wrapper .cardContainerGrid .fieldsArea div:nth-child(1) div {
    font-size : calc(18 / 16 * 1rem);}


    .product-tiles-wrapper .cardContainerGrid .priceArea .negotiated-price{
     font-size : calc(18 / 16 * 1rem);}

    .product-tiles-wrapper .cardContainerGrid .priceArea .slds-align-bottom{
    margin-bottom:calc(5 / 16 * 1rem);}

    .product-tiles-wrapper-off .cardContainerGrid .fieldsArea div:nth-child(1) div {
    font-size : calc(18 / 16 * 1rem);}


    .product-tiles-wrapper-off .cardContainerGrid .priceArea .negotiated-price{
     font-size : calc(18 / 16 * 1rem);}

    .product-tiles-wrapper-off .cardContainerGrid .priceArea .slds-align-bottom{
    margin-bottom:calc(5 / 16 * 1rem);}
    
    .product-tiles-wrapper-off .cardContainerGrid .fieldsArea div:nth-child(2) div {
            white-space: normal !important; 
            display: -webkit-box !important;
            -webkit-line-clamp: 3 !important;
            -webkit-box-orient: vertical !important;
            word-break: break-word !important;
            word-spacing: 0.1rem !important;
            font-size: 16px!important;
            line-height: 1.8333rem !important;
        	height:5.4375rem !important;
        	margin:calc(10 / 16 * 1rem) 0 1.25rem 0 !important;
        
    }
    .product-tiles-wrapper-off .slds-button_brand {
         background-color: var(--snp-clr-geygreen)!important;
    }
    .product-tiles-wrapper-off a {
        text-decoration: none !important;
    }
    .product-tiles-wrapper-off img:hover {
     border:2px solid var(--snp-theme-clr-yellow)!important;   
    }
    .product-tiles-wrapper-off img {
            aspect-ratio: 1/1;
    }
     .product-tiles-wrapper-off .callToActionButton {
        border-radius: 5px;
        border: 1px solid black;
    }
    .product-tiles-wrapper.pageControlPart button:hover {
    background-color:white !important;
    border:1px solid var(--snp-theme-clr-yellow)!important;
    }
    .product-tiles-wrapper-off.pageControlPart button:hover {
    background-color:white !important;
    border:1px solid var(--snp-theme-clr-yellow)!important;
    }
    .product-tiles-wrapper .slds-button:hover {
        color:var(--snp-clr-black)!important;
        background-color: var(--snp-theme-clr-yellow)!important;
    }
    .product-tiles-wrapper-off .slds-button:hover {
        color:var(--snp-clr-black)!important;
        background-color: var(--snp-theme-clr-yellow)!important;
    }
    /* Override PDP carousal css @Author- Ganesh Wattamwar */
    [data-component-id="snp_pdp_productImageCarousel-0466"] .slick-list{
        Padding: 0 !important;
    }
    
    /*--------------------  @krishnamurthy donta----filters tab mode --------------*/
    @media screen and (max-width:1024px){
        .filter-section .slds-button {
            color : var(--snp-clr-black)!important;
            padding :0 50px !important;
            
        }
        .filter-section .slds-button:hover {
            color : var(--snp-clr-black)!important;
            background-color:var(--snp-theme-clr-yellow) !important;
            
        }
    } 
    

    
        /*-----------------------Filter & search "Model" changing from view cart to view basket @author- Krishnamurthy Donta---------------------*/
    
    .slds-modal__container div .slds-modal__header {
        background-color: #fdc300;
    }
    
    .slds-modal__container .slds-modal__header {
        background-color: #fdc300;
    }
    
    .slds-modal  .slds-modal__container .slds-modal__header h1::before {
	content:'Item was added to Basket' ;
	font-size : 16px ;
	color:black;
    }
    
    /*---the below line is specific to the checkout page model---*/
    /*-Start-*/
    [aria-description="Accessible description of modal's purpose"] .slds-modal__container .slds-modal__header h1::before {
        content:"Add Shipping Address" !important;
        font-size : 16px ;
	color:black;
    }
    /*-End-*/

    .slds-modal  .slds-modal__container .slds-modal__header h1{
        font-size:0;
    }
    
    .slds-modal  .slds-modal__container .slds-modal__content button[aria-label='Continue Shopping'] {
	color:black;
	border : 1px solid black !important;
        background-color: #eaece7 !important;
    }
    .slds-modal  .slds-modal__container .slds-modal__content button[aria-label='Continue Shopping']:hover {
        color:black;
        background-color : var(--snp-theme-clr-yellow) !important ;

    }

    .slds-modal  .slds-modal__container .slds-modal__content button[aria-label='View Cart'] {
        font-size : 0;
        border : 1px solid black !important;
    }
    .slds-modal  .slds-modal__container .slds-modal__content button[aria-label='View Cart']:hover {
        background-color:var(--snp-theme-clr-yellow);
        color:black ;	
    }


    .slds-modal  .slds-modal__container .slds-modal__content button[aria-label='View Cart']::before {
        content:'View Basket' ;
        font-size : 16px ;
        color:black;
    }
    
    /*-----------------------Filter mobile view @author- Krishnamurthy Donta---------------------*/
            .product-tiles-wrapper .slds-modal__container {
            margin:0px !important;
        }
        .product-tiles-wrapper .slds-modal__content_has-hidden-footer {
            box-shadow:none !important;
        padding-top: 25px !important;
        padding-bottom: 25px !important;
        }
        .product-tiles-wrapper .slds-scrollable {
            width:100% !important;
            height:77vh !important ;
            overflow:hidden !important ;
            overflow-y :scroll !important;
        }
        .product-tiles-wrapper #modal-content-259 {
        height: 100% !important;
        }
        .product-tiles-wrapper .slds-modal__container {
        padding:0px !important;
        background-color:white !important;
        }
        @media screen and (max-width:768px) {
            .product-tiles-wrapper figure {
                margin:0!important;
            }
            .product-tiles-wrapper h2 {
                font-size: 16px !important;
                margin: 0 !important;
                padding:0 !important;
            }
            .product-tiles-wrapper .commerce_search-inputFacet_inputFacet {
                padding: 0 17px !important;
            }
            .product-tiles-wrapper .facets-section {
                padding: 0 !important;
                 margin: 0 !important;
            }
        }
/* Override bredcrum css @Author- Harshvardhan T */
    [data-component-id="breadcrumbs-b5dd"] nav{
        margin-top: 10px !important;
    }
     /*--------------- @krishnamurthy --> currency Selector------------*/
    [data-component-id="snp_currencySelectorIoco-a801"] .slds-icon {
        fill:white !important;
    }
    
/* Override PDP product detail css @Author- Ganesh Wattamwar*/
    [data-component-id="textBlock-1e0d"] .dxp_base-textBlock_textBlock{
        display:none !important;
    } 
    [data-component-id="variantSelector-5ee1"] abbr{
        display: none !important;
    }
    
    [data-component-id="textBlock-675e"] .slds-grid{
        display: none !important;
    }
    
    [data-component-id="productFieldsTable-9ab9"] .slds-cell-wrap{
        padding: 0 !important;
	} 
    [data-component-id="productFieldsTable-9ab9"] .slds-table{
        width: 295px !important;
    }
    [data-component-id="purchaseOptions-0030"] .commerce_product_details-addToCartButton_addToCartButton{
        height: 38px !important;
        background-color: var(--snp-clr-geygreen)!important;
    }
    
    [data-component-id="purchaseOptions-0030"] .commerce_product_details-addToCartButton_addToCartButton:disabled{
        height: 38px !important;
        background-color: white !important;
    }
    [data-component-id="purchaseOptions-0030"] .commerce_product_details-addToCartButton_addToCartButton:disabled:hover{
        height: 38px !important;
        background-color: white !important;
    }
    [data-component-id="purchaseOptions-0030"] button{
        border: 1px black solid !important;
        border-radius: 3px !important;
    }
    [data-component-id="purchaseOptions-0030"] input{
        border-top: 1px black solid !important;
        border-bottom: 1px black solid !important;
        border-radius: 0 !important;
    }
    [data-component-id="purchaseOptions-0030"] .commerce_product_details-addToCartButton_addToCartButton:hover{
        background-color:var(--snp-theme-clr-yellow)!important;
    }
    
    
    
    [data-component-id="variantSelector-5ee1"] select{
        border-radius: 3.7px !important;
    }
    [data-component-id="variantSelector-5ee1"] select:hover{
        border : 1px solid #fdc300 !important;
        border-radius: 3.7px !important;
    }
    [data-component-id="productFieldsTable-9ab9"] .slds-border_bottom{
        border-bottom: 0 solid white !important;
    }
    [id="modal-content-91"] button.commerce_builder-purchaseOptions_purchaseOptions:hover{
        background-color: #fdc300 !important;
    }
    
    /* Override PDP product detail css @Author- Ganesh Wattamwar*/
    [data-component-id="snp_footer_Component-bbf6"] .slds-button:hover{
        background-color: #fdc300  !important;
    }
    
     /*------------------@Author Krishnamurthy, for-> ProductAdditionalInformation ---------------------*/
    [data-component-id="productAttachments-cf06"] a {
        color:black !important;
        font-family:SunFont !important;
    }
    [data-component-id="productAttachments-cf06"] a:hover {
        color:var(--snp-theme-clr-yellow)!important;
        font-family:SunFont !important;
    }
    [data-component-id="productAttachments-cf06"] li {
        width:100% !important;
    }
    
      /*------------------@Author Krishnamurthy, --> cart ---------------------*/
            /*--Cart summary Stickey--*/
                [data-component-id="sNP_Cart_Summary-23e1"]  {
                    display: block !important;
                position: sticky !important;
                top: 125px !important;
                }
            /*--End --*/
   /*  [data-component-id="cartItems-7352"] .lwc-26kv81bckgr-host {
        max-height: 920px !important;
     overflow: hidden !important;
    overflow-y: auto !important;
         flex-direction: unset !important;
    }*/
    
    [data-component-id="cartItems-7352"] .main_actions_remove {
        color: black !important ;
        border:none !important;
    }
   
   
    [data-component-id="cartItems-7352"] .main_actions_remove:hover{
        color:var(--snp-theme-clr-yellow)!important;
        text-decoration:underline !important;
        border:none !important;
    }

    [data-component-id="checkoutButton-69d3"] .slds-button_brand {
        border:1px solid black !important;
    }
    [data-component-id="cartItems-7352"] .items button[part] {
        color:black !important;
        border:none !important;
    }
    [data-component-id="cartItems-7352"] .items button[part]:hover {
        text-decoration-color:var(--snp-theme-clr-yellow)!important;
        text-decoration:underline;
        border:none !important;
    }

    .lwc-4b2blbsh91f header {
        padding:20px !important;
        position: sticky;
    top: 120px;
    background: white;
    z-index: 1;
}
        
    

    .lwc-4b2blbsh91f header h3:hover{
        text-decoration: underline;
        text-decoration-color: var(--snp-theme-clr-yellow)!important;
    }
    
    [data-component-id="button-6970"] {
        padding: 20px !important;
    }

    [data-component-id="button-6970"] .lwc-68jnud16dda {
        border: 1px solid black !important;
    }

    [data-component-id="button-6970"] .lwc-68jnud16dda:hover {
        color: black !important;
    }
    /*----@Auther---krishnamurthy donta ----this below line is to hide the blue spinner in the cart page  */
    [data-component-id="section-e138"] .slds-spinner_container .slds-spinner{
        display: none !important;
    }
    
   
        @media only screen and (max-width: 1024px) {
             [data-component-id="b2bCartContents-ae91"]  .lwc-26kv81bckgr .lwc-1noralhrh9q-host {
        		margin:0 20px !important;
    		}	
    }

     /*------------------@Author Krishnamurthy Donta, -->  Search  ---------------------*/
    .no-search-page-button .slds-button_brand {
        border:1px solid black !important;
        color:black !important;
    }
    
   /*------------------@Author Aditya, --> Order History ---------------------*/
  	div.commerce_my_account-orders_orders .commerce_my_account-order_order .three-column-layout {
    width: 25%;
    font-size: 0.9rem;
	}
    
    .order-list-wrapper button.slds-button {
        border:1px solid black;
    	color:black;
    }
    .order-list-wrapper button.slds-button_icon[title],
    .order-list-wrapper button.slds-button[title="Reset"] ,
    .order-list-wrapper button.slds-button[aria-expanded] {
        border:none;
    }
    .order-list-wrapper [role='grid'] [role='row'] div.slds-grid a{
        color: var(--snp-clr-black);
    }
    .order-list-wrapper [role='grid'] [role='row'] div.slds-grid a:hover{
        text-decoration-color:var(--snp-theme-clr-yellow);
    }
        
   
    
    .order-list-wrapper .slds-button:focus{
        box-shadow: none!important;
    }
    
    @media screen and (max-width:768px){
         [data-component-id="section-6b3c"] .commerce_cart-items_items-host {
            height: auto !important;     
       }
        [data-component-id="b2bCartContents-ae91"] .commerce_builder-cartContents_cartContents {
                 padding:10px !important;
             }
    [data-component-id="b2bCartContents-ae91"] .commerce_cart-header_header-host {
        padding:10px !important;
    }
        
    }
    /*-------------------To Customise Modal Button Label From Cart To Basket cart page model popup-----------------*/
    
    
        .slds-modal .slds-modal__container .slds-modal__header h2 {
        font-size:0;
        }

        .slds-modal .slds-modal__container .slds-modal__header h2::before {
            content:'Remove all items from your Basket ?' ;
            font-size : 16px ;
            color:black;
        }
        .slds-modal .slds-modal__container .slds-modal__content slot div.slds-grid > div:nth-child(2) > button {
            font-size:0px;
            border:1px solid black !important;
        }
        .slds-modal .slds-modal__container .slds-modal__content slot div.slds-grid > div:nth-child(2) > button::before {
        content: "Clear Basket";
        padding: 4px;
        font-size: 16px;
        line-height: 23px;

        }
        .slds-modal .slds-modal__container .slds-modal__content slot div.slds-grid > div:nth-child(1) > button {
            background-color : #eaece7 !important;
            color:black ;
            border:1px solid black !important;
        }
        .slds-modal .slds-modal__container .slds-modal__content slot div.slds-grid > div:nth-child(1) > button:hover {
            background-color : var(--snp-theme-clr-yellow) !important;
            color:black ;
        }
    
/*---------------pdp @Author Aditya------------------------*/
    
    .slds-button_icon-inverse [title="Cancel and close"]:hover{
		background:#fdc300 !important;
    }
    .productName slot div:last-child{
        display:none;
    }
    .productSKU > .product-sku-info > slot > [slot="SKU"] table[role="presentation"] tr {
		display: flex;
		gap: 20px;
	}
    .productSKU > .product-sku-info > slot > [slot="SKU"] table[role="presentation"] tr:hover > td{
        background-color:var(--snp-clr-white);
    }
	.productSKU > .product-sku-info > slot > [slot="SKU"] table[role="presentation"] tr > td:first-child {
		max-width: 100px;
		width: 18%;
	}
    
     .product-discount-details .pricing-tiers::-webkit-scrollbar {
      height: 0.5rem;
    }
    .product-discount-details .pricing-tiers::-webkit-scrollbar-track {
      background: var(--snp-clr-geygreen);
    }
    .product-discount-details .pricing-tiers::-webkit-scrollbar-thumb {
      background-color: var(--snp-theme-clr-yellow);
      border-radius: 5px;
    }
    
    .pricing-tiers .adjustment-tiers-container{
       /* flex-wrap: wrap;*/
        overflow:unset !important;
    	gap: 10px;
    	justify-content: space-around;
        padding-bottom:0.375rem;
        padding-top: 0.125rem;
    }
    .pricing-tiers .adjustment-tiers-container .tier-row-title{
        position: sticky;
    	left: -1px;
    	background: white;
    	padding: 4px;
    }
    .commerce_builder-purchaseOptions_purchaseOptions .commerce_product_details-addQuantity_addQuantity:first-child {
        padding: 0;
    }
	.commerce_product_details-addToCartButton_addToCartButton{
    	background-color: #EAECE7 !important;
	}
	.commerce_product_details-addToCartButton_addToCartButton:hover{
    	background-color: #fdc300!important;
	}
    button.commerce_product_details-addToCartButton_addToCartButton {
        flex-grow: 0 !important;
    }
    .commerce-productPricing_productPricing > tbody {
            display:flex ;
            gap:1.25rem;
     }
    
     .product-quantity-deatils .quantity-list-container button.slds-button_brand:is([disabled]):hover {
            background-color: var(--snp-clr-white);
     }
     .product-quantity-deatils .quantity-list-container button.slds-button_brand:not([disabled]):hover {
            background-color: var( --snp-theme-clr-yellow) !important;
        }
      .product-quantity-deatils .quantity-list-container .quantity-list-action .container button[aria-label="Add To Basket"].slds-button_brand:is([disabled]) {
            background-color: var(--snp-clr-white);
        }
     .product-quantity-deatils .quantity-list-container .quantity-list-action .container button[aria-label="Add To Basket"].slds-button_brand:not([disabled]) {
            background-color: var(--snp-clr-geygreen);
        }
    .product-quantity-deatils .quantity-list-container input {
        background-color: var(--snp-clr-white); 
        border-top: 1px solid var(--snp-clr-black);
    	border-bottom: 1px solid var(--snp-clr-black);
    }
    .productPrice .product-price-details .price-container {
	flex-direction: row-reverse;
    min-width: 31%;
    width: 31% !important;
   /* min-width: 66%;
    width: 66% !important;*/
    justify-content:flex-end;
        }
    .product-discount-details slot[name='tierDiscount'] .pricing-tiers .tier{
        padding: 0 0.438rem;
     }
    div.quantity-list-action .container{
			padding:0;
        }
    @media only screen and (max-width: 48em){
        div.quantity-list-action .container{
            flex-direction: row;
    		flex-wrap: wrap;
        }
		div.commerce_product_details-addQuantity_addQuantity {

		}
    	.commerce_product_details-addToCartButton_addToCartButton-host {
            margin:0 !important;
      	}

        table.commerce-productPricing_productPricing {
            justify-content: flex-start !important;
        }
        

    }
 /* Override PDP carousal css @Author- Ganesh Wattamwar */
    .carousel-wrapper .inner-wrapper .slick-vertical .slick-list,.draggable{
		padding: 0 !important;
	}
    
    
    /*----------------------------@Author Krishnamurthy, --> My account-------------------*/
    [data-component-id="myAccountPassword-49c2"] .lwc-7jjmc3b49ns-host{
        background-color:#fdc300 !important;
    }
     [data-component-id="navigationMenuContainer-9809"] a {
        color:black !important;
    }
    .user-Detail .slds-card__body {
        margin-bottom: 0px !important;
    }
    .user-Detail .slds-card {
           box-shadow: none !important;
   		   border: none !important;
    }
      .user-Detail .slds-button {
        display:none
    }
    .myprofile-password-wrapper .slds-button {
        color: var(--snp-clr-black);
    }
    .myprofile-password-wrapper .slds-button:hover {
        text-decoration: underline;
        text-decoration-color: var(--snp-theme-clr-yellow);
    }
    .myprofile-password-wrapper .slds-card {
        box-shadow: none !important;
        border: 1px solid !important;
	}
    [data-component-id="navigationMenuItemList-1730"] .slds-nav-vertical__section {
        background: white !important;
    }
    [data-component-id="navigationMenuItemList-1730"] h2 {
        display:none !important;
        padding:0 !important;
        margin:0 !important;
    }
    [data-component-id="navigationMenuItemList-1730"] a {   
        -webkit-box-shadow: none !important;
        box-shadow:none !important;
    }
    [data-component-id="navigationMenuItemList-1730"] .slds-nav-vertical__item:hover:before {
        background-color: var(--snp-clr-geygreen)!important;
    }
    [data-component-id="sldsFlexibleLayout-aaea"] *{
        color:black !important;
    }
    [data-component-id="navigationMenuItemList-1730"]  .slds-nav-vertical__item.slds-is-active::before {
        background: var(--snp-theme-clr-yellow)!important;
    }
    
    
    /*---------------@Author Aditya-- All the elemnts in one place whose background color wants to chnage to theme yellow----------------------*/
    
    /*--------------------------------------------@Author Aditya ALL CMS PAGES CSS START HERE---------------------------------------------*/
    
    	/* @Author- Wasim Sheikh-------------ArchitecturalLEDLightningManufacture-----CommonComponent */
            .cms-common-para
            {
            	margin: 0 0 0.75rem 0;
            	line-height: 2.125rem;
            }
            .cms-common-para:last-child {
           		 margin-bottom:0;
            }
            .common-para
            {
                margin:0;
                line-height: 2.063rem;
            }
    
    /* @Author- Harsha Nivas Ravilla & Shreyash Myaccount->address-START HERE----*/
         /* -address page modal close button color-----*/
    .outer-container .slds-modal-container .slds-icon {
          fill: #fff;
    }
   		/* ------------------------------------------------------------------*/
    	
    /*--------------------------------------------------------End OF ALL CMS PAGES CSS HERE--------------------------------------------------------*/
    /*----------------------------@Author Krishnamurthy, --> search results page-------------------*/
    
    .no-search-page nav {
        padding:0.625rem 1.25rem;
    }
    .no-search-page aside {
        background-color: #eaece7	
    }

    .no-search-page h1  {
        font-size: 1.625rem !important;
    }
    .no-search-page h2 {
        font-size: 1.625rem !important;
    }

    .no-search-page .filters-header{
        margin:0 0.625rem;
    }

    .no-search-page .lwc-36vevjtd9ac {
        margin: 0 0.625rem;
    }

    .no-search-page .clear-all {
        align-self: center !important;
    }
    .no-search-page .clear-all button:hover {
         text-decoration: underline;
    }
    .no-search-page .clear-all .slds-button::before:hover{
        background-color:var(--snp-clr-geygreen) !important;
        text-decoration: underline;
        
    }
  

    .no-search-page .clear-all .slds-button {
        border: none !important;
    }

    .no-search-page .product-grid-container .slds-button:hover{
        
              color: var(--snp-clr-black) !important;

    }

    .no-search-page .lwc-4u4j45agqbn {
        margin:0 0.625rem ;
    }


    .no-search-page .expand-button {
        display:none !important;
    }

    .no-search-page .facet-header {
        margin: 0 0.625rem ;
    }

    .no-search-page .facet-body {
        margin:0 0.625rem;
    }
    .no-search-page .facets-section {
        margin:0 !important;
        padding:0 !important;
    }
    .no-search-page .lwc-1q54g11aet8-host {
        padding-top:0.3125rem !important;
    }
   

    .no-search-page button {
    color:var(--snp-clr-black);
    }
    .no-search-page img {
     height:275px !important;   
    }
    .no-search-page img:hover {
     border:2px solid var(--snp-theme-clr-yellow)!important;   
    }
    .no-search-page a {
        text-decoration: none !important;
    }
    .no-search-page .product-grid-container .slds-button {
        border:1px solid var(--snp-clr-black) !important; 
    }
    .no-search-page .product-grid-container .slds-button:hover {
        background-color :var(--snp-theme-clr-yellow) !important;
        color:var(--snp-clr-black) !important;
    }

    .no-search-page .cardContainerGrid .fieldsArea div:nth-child(2) div {
            white-space: normal !important; 
            display: -webkit-box !important;
            -webkit-line-clamp: 3 !important;
            -webkit-box-orient: vertical !important;
            word-break: break-word !important;
            word-spacing: 0.1rem !important;
            font-size: 1rem!important;
            line-height: 1.8333rem !important;
            height:5.4375rem !important;
            margin:calc(10 / 16 * 1rem) 0 1.25rem 0 !important;
    }

    .no-search-page .cardContainerGrid .fieldsArea div:nth-child(1) div {
    font-size : calc(18 / 16 * 1rem);}


    .no-search-page .cardContainerGrid .priceArea .negotiated-price{
     font-size : calc(18 / 16 * 1rem);}

    .no-search-page .cardContainerGrid .priceArea .slds-align-bottom{
    margin-bottom:calc(5 / 16 * 1rem);}



    .no-search-page .slds-grid_vertical-align-center {
        padding :0 1.25rem ;
    }
    .no-search-page button {
        border:1px solid var(--snp-clr-black) !important ;
    }
    .no-search-page .slds-listbox{
        color: var(--snp-clr-black) !important;
        background-color: white !important;
    }
    .no-search-page h3 {
        margin:0px !important;
    }
    .no-search-page [role="listbox"]>*[aria-checked="true"]{
        background-color:#595959 !important;
    }
   
    .no-search-page [role="listbox"]>*[aria-checked="true"]>span:first-child {
        visibility:hidden;
    }
    .no-search-page [role="listbox"]>*{
        text-align:left !important;
    }

        /* @Author- Aditya Lenka-------------Banner Page standard button */
       
    .about-us-slot-wrapper slot[name="aboutUsStandardButton"] a ,
    .homepage-img-txt .content-button-wrapper slot[name="redirectCmsPageBtn"] a {
        padding: 0.156rem 1.1rem;
        border: 1px solid var(--snp-clr-black);
    	color: var(--snp-clr-black);
    }
    .homepage-img-txt .content-button-wrapper slot[name="redirectCmsPageBtn"] a {
        padding: 0.156rem 0.625rem;
    }
    @media only screen and (max-width: 991px) {
            .about-us-slot-wrapper slot[name="aboutUsStandardButton"] a,
        	.homepage-img-txt .content-button-wrapper slot[name="redirectCmsPageBtn"] a {
            font-size: 0.7rem;
    		}
    }
    @media only screen and (max-width: 576px) {
            .about-us-slot-wrapper slot[name="aboutUsStandardButton"] a,
        	.homepage-img-txt .content-button-wrapper slot[name="redirectCmsPageBtn"] a{
            font-size: 0.6rem;
    		padding: 0.2rem 0.8rem;
    		letter-spacing: 0.04rem;	
    		}
    }
    /* @Author- Aditya Lenka-------------Banner Page standard button */
    
    
       /* @Author- Wasim Sheikh-------------powercmspage-----CommonComponent */
    .power-cms-top
    {
       display:flex;
       justify-content:space-between;
    }
    .power-cms-bottom
    {
       display:flex;
       justify-content:space-between;
    }
 .power-cms-wrapper
{
width:100%;
}
.power-top-left
{
width:44%;
}
.power-top-right
{
width:44%;
}
.power-bottom-left
{
width:44%;
}
.power-bottom-right
{
width:44%;
}
    .common-power-para
    {
        font-size:1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.938rem;
        margin-top:1.94rem;
    }
    @media only screen and (max-width: 768px)
    {
        .cms-btm-para
        {
            margin-bottom:1.94rem;
        }
    }
   @media only screen and (max-width: 992px)
   {
 .heading-common-class
{
 font-size:0.75rem
}
.font-common-class
{
font-size:0.75rem
}
 .common-power-para
       {
           line-height:1.5rem;
       }
   }
    
    /*----------------------------@Author Krishnamurthy, -->checkout-->( Cart Summary)-------------------*/
    [data-component-id="section-95bd"] .col-large-size_4-of-12 div {
        position: sticky;
        top: 125px;
        }
    [data-component-id="section-95bd"] .col-large-size_4-of-12 {
        display:block !important;
    }
    [data-component-id="cartSummary-2218"] .lwc-5annsfgtgga {
		padding: 3px 15px;
    }
    
    /*---------Shipping---------------*/
    .cms-checkout-content .address-stretch{
        display: flex;
    flex-direction: row;
    }
    .cms-checkout-content .slds-truncate{
        white-space: normal;
    }
    .cms-checkout-content .slds-gutters_direct-x-small > .slds-col{
        border: 1px solid black;
        margin-left: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .cms-checkout-content .slds-gutters_direct-x-small > .slds-col:focus{
         border-color:#fdc300;
    }
    .cms-checkout-content .address-stretch > div:has(input[type="radio"]:checked){
        border:1px solid var(--snp-theme-clr-yellow);
    }
    .cms-checkout-content .slds-badge{
        position: relative;
        top: 0.5rem;
        background-color: #b3b2a8;
    }
    

</style>